@import '../../styles/variables';

.wrapper {
    position: relative;
    height: 100%;
}

.title {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
    height: 2em;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    height: calc(100% - 2em);
}

.body__column {
    margin: 0 0.5em;
    min-width: 32%;
    height: 100%;
    overflow: hidden;
}

.status {
    margin: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    padding: 1em;
    color: $orange;
    background-color: $dark;
    border: 1px solid $light;
    border-radius: 8px;
}

.form {
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__input {
    padding: 0.5em;
    border: 1px solid $orange;
    border-radius: 0.5em;
}

.form__btn {
    margin-left: 2em;
    border-radius: 0.5em;
    padding: 0.5em;
    color: $dark;
    background-color: $orange;
}

.header {
    margin: 0 auto;
}