@import '../../styles/variables';

.wrapper {
    height: 100%;
}

.title {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
    height: 2em;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    height: calc(100% - 2em);
}

.body__column {
    margin: 0 0.5em;
    min-width: 32%;
    height: 100%;
    overflow: hidden;
}

.status {
    margin: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}