.wrapper {
    height: 100%;
}

.title {
    margin: 0.5em;
    font-size: 2em;
    text-align: center;
    height: 2em;
}

.body {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-evenly;
    height: 100%;
    max-height: calc(100% - 6em);
}

.body__green {
    background-color: green;
}

.body__yellow {
    background-color: yellow;
}

.body__red {
    background-color: red;
}