@import '../../styles/variables';

.body {
    width: 100%;
    margin: 1em auto;
    font-size: 1em;
    text-align: center;
}

.title {
    margin: 1em auto;
    font-size: 3em;
}

.subtitle {
    margin: 0.5em auto;
    font-size: 2em;
}

.links {
    margin: 1em auto;
}

.link {
    display: block;
    margin: 1em auto;
    padding: 1em;
    color: $orange;
    border-radius: 0.5em;
    border: 1px solid $orange;
    font-size: 2em;
    text-transform: capitalize;

    &:hover {
        font-weight: 700;
        color: $green;
        border-color: $green;
    }
}