@import '../../styles/variables';

.footer {
    width: 100%;
    margin: 1em auto;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;

    sup {
        margin-right: 1em;
        color: $orange;
        font-size: 0.5em;
    }
}